@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f9f9f9;
}

.warna-haq {
  color: #e9c371;
}
.warna-mh {
  color: #e7d2d2;
}
.primary-color {
  color: #1d1b19;
}

.primary-bg {
  background-color: #e4a111 !important;
}

.bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#e62fecd2), to(#265fdba6));
  color: #fff;
}


.section-50 {
  padding: 50px 0;
  border-radius: 30px;
}

.section-100 {
  padding: 100px 0;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  text-transform: uppercase;
}

.btn.btn-lg {
  padding-left: 30px;
  padding-right: 30px;
}

.btn-primary {
  background-color: #e4a111;
  border-color: #e4a111;

}

.btn-primary:hover {
  background-color: #e62780;
  border-color: #e62780;
}

.btn-tepi {
  background-color: #ff990000;
  border-color: #fff;

}
.btn-tepi:hover {
  background-color: #e62780;
  border-color: #e62780;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.h99{
  text-align: center;
  color: darkorange;
  font-size: 25px;
  font-weight: 50;
}
#h99{
  text-align: center;
  color: darkorange;
  font-size: 25px;
  font-weight: 50;
}
.m-b-15 {
  margin-bottom: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.p-30 {
  padding: 30px !important;
}

.hrf {
  border-top-color: #fff;
}

.box {
  padding: 25px 15px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.16);
}

#navbar {
  position: absolute;
  width: 100%;
  top: 0;
  background: solid;
  z-index: 999;
}

#navbar .navbar-toggler-icon {
  padding: 10px;
}

#navbar .logo {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

#navbar .nav-link,
#navbar .navbar-toggler-icon i {
  color: rgb(27, 26, 26);
}

#navbar .nav-link.btn {
  padding-left: 15px;
  padding-right: 15px;
}

.fixed {
  position: fixed !important;
}

#navbar.fixed {
  background: -webkit-gradient(linear, left top, right top, from(#ffffffee), to(#a1a1a1ee));
}


#navbar.fixed .logo {
  color: rgb(24, 22, 22);
}

#navbar.fixed .nav-link,
#navbar.fixed .navbar-toggler-icon i {
  color: rgb(22, 21, 21);
}

#navbar.fixed .nav-link.btn {
  color: rgb(24, 23, 23);
}

#banner {
  background-image: src(/images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 230px 0 230px 0;
  position: relative;
}

#banner:before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 599px) {
  #banner {
    padding: 150px 0 150px 0;
  }
}

.feat .feat-box {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feat .feat-box .feat-icon {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feat .feat-box .feat-icon i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feat .feat-box .feat-content {
  width: calc(100% - 115px);
  float: right;
}

.feat .feat-box:nth-child(1) .feat-icon {
  background: #ffe0b3;
  color: #e4a111;
  -webkit-box-shadow: 0 2px 17px -3px #fff5e6;
          box-shadow: 0 2px 17px -3px #fff5e6;
}

.feat .feat-box:nth-child(2) .feat-icon {
  background: #a9d1ec;
  color: #2980b9;
  -webkit-box-shadow: 0 2px 17px -3px #d2e7f5;
          box-shadow: 0 2px 17px -3px #d2e7f5;
}

.feat .feat-box:nth-child(3) .feat-icon {
  background: #b7d6d8;
  color: #4d8c8f;
  -webkit-box-shadow: 0 2px 17px -3px #d8e9ea;
          box-shadow: 0 2px 17px -3px #d8e9ea;
}

#features {
  margin-top: -110px;
  border-radius: 30px;
}

.feature-icon-box {
  height: 100px;
  width: 100px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 15px auto;
}

.feature-icon-box.feature-icon--1 {
  background: #ffefd6;
  color: #e4a111;
  -webkit-box-shadow: 0 2px 17px -3px #fff5e6;
          box-shadow: 0 2px 17px -3px #fff5e6;
}

.feature-icon-box.feature-icon--2 {
  background: #e7f2fa;
  color: #2980b9;
  -webkit-box-shadow: 0 2px 17px -3px #d2e7f5;
          box-shadow: 0 2px 17px -3px #d2e7f5;
}

.feature-icon-box.feature-icon--3 {
  background: #e8f2f3;
  color: #4d8c8f;
  -webkit-box-shadow: 0 2px 17px -3px #d8e9ea;
          box-shadow: 0 2px 17px -3px #d8e9ea;
}

.video-container {
  border: 5px solid rgba(226, 9, 9, 0.16);
  border-radius: 30px;
  -webkit-box-shadow: rgba(226, 9, 9, 0.16);
          box-shadow: rgba(226, 9, 9, 0.16);
}

.team-box {
  max-width: 350px;
  position: relative;
  margin-bottom: 30px;
}

.team-box img {
  height: 250px;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.team-box .team-info {
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  width: 90%;
  margin-left: 10%;
  margin-top: -20px;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.team-box .team-info h4,
.team-box .team-info p {
  margin-bottom: 0;
}

#faq {
  padding-bottom: 50px;
}

#accordion .card-header {
  cursor: pointer;
}

.testimonial {
  background: #fff;
  color: #333;
  -webkit-box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.16);
}

.testimonial-box {
  text-align: center;
  padding: 60px 30px;
  border-radius: 5px;
}

.testimonial-box .testimonial-content {
  line-height: 1.5;
}

.testimonial-box .quote-icon {
  font-size: 50px;
  color: #eee;
  margin-top: 20px;
  margin-bottom: 20px;
}

.testimonial-box img.user-img {
  height: 150px;
  width: 150px;
  border: 5px solid #eee;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto 15px auto;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
}

.owl-carousel {
  position: relative !important;
}

.owl-nav {
  color: #fff;
  position: absolute !important;
  width: calc(100% + 60px) !important;
  margin-left: -30px;
  top: 50% !important;
  z-index: -1;
}

.owl-nav .owl-prev {
  float: left;
  font-size: 30px !important;
  padding: 15px;
  display: inline-block;
}

.owl-nav .owl-next {
  float: right;
  font-size: 30px !important;
  padding: 15px;
  display: inline-block;
}

.owl-nav i {
  font-size: 56px;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background: #ccc !important;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #999 !important;
}

.subscribe-form input.form-control {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.subscribe-form .btn {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

#footer {
  padding-top: 200px;
  position: relative;
  color: rgb(0, 0, 0);
}

#footer .path-footer {
  position: absolute;
  top: -2px;
  width: 100%;
}

#footer .footer-ul {
  list-style-type: none;
  padding-left: 0;
}

#footer .footer-ul li {
  margin-bottom: 10px;
  color: rgb(12, 11, 11);
}

#footer .footer-ul li i {
  width: 20px;
}

.social-links a {
  padding: 5px 15px;
  display: inline-block;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-LOGOMH {
  width: 1.0341796875em;
}
.box{
  border: 1px solid rgb(228, 225, 219);
  border-radius: 20px;
  font-size: 20px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.boxx:hover {
  border: 5px solid rgb(228, 171, 17);
  box-shadow: -5px 2px 4px rgb(228, 171, 17);
    
}
.h2{
  color: #ccc;
}
.imgg {
    max-width: 80px;
    max-width: 80px;
    width: 85px;
    height: 85px;
}
