*, *::before, *::after {
  box-sizing: border-box;
}



button {
  margin: 1rem;
}

.bri {
  background-color: var(--background-color);
  color: #fff;
  padding: .5em 1em;
  border: none;
  border-radius: 20px;
  outline: none;
  position: relative;
  cursor: pointer;

  --background-color: #e4a111;
  --border-size: 2px;
  --accent-color: #e62780;
}

.bri.bri-border-pop::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border: var(--border-size) solid var(--background-color);
  transition: top, left, right, bottom, 100ms ease-in-out;
}

.bri.bri-border-pop:hover::before,
.bri.bri-border-pop:focus::before {
  border-radius: 20px;
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}




.bri.bri-background-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 20px;
}

.bri.bri-background-slide:hover::before,
.bri.bri-background-slide:focus::before {
  transform: scaleX(1);
  border-radius: 20px;
}

.bri.bri-background-slide {
  transition: color 300ms ease-in-out;
  z-index: 1;
  border-radius: 20px;
}


.bri.bri-background-slide:hover,
.bri.bri-background-slide:focus {
  color: white;
  border-radius: 20px;
}





.bri.bri-background-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: transform 500ms ease-in-out;

  transform: scale(1.5);
}

.bri.bri-background-circle:hover::before,
.bri.bri-background-circle:focus::before {
  transform: scale(0);
  border-radius: 20px;
}

.bri.bri-background-circle {
  z-index: 1;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--accent-color);
  transition: color 500ms ease-in-out;
}

.bri.bri-background-circle:hover,
.bri.bri-background-circle:focus {
  color: white;
  border-radius: 20px;
}





.bri.bri-border-underline::before {
  content: '';
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--border-size);
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;

  transform: scaleX(0);
}

.bri.bri-border-underline:hover::before,
.bri.bri-border-underline:focus::before {
  transform: scaleX(1);
  border-radius: 20px;
}